@model IEnumerable<NgCooking_Asp.net.Models.Recettes>

@{
    ViewBag.Title = "Recettes";
    var SerchByName = ViewData["dataByName"] as List<NgCooking_Asp.net.Models.Recettes>;
    var TempsList = SerchByName;
    var model = ViewData["Model"] as List<NgCooking_Asp.net.Models.Recettes>;
}

<script>

    function AjaxPost(url, Aux) {
        $.ajax({
            url: url,
            data: { input: Aux },
            cache: false,
            type: "POST",
            success: function (data) {
                $("body").html(data);
            },
            error: function (reponse) {
            }
        });
    }
    $(function () {
        $('#SearchByName').change(function () {
            var url = "/Recettes/SearchByName/";
            var Aux = $('#SearchByName').val();             
            AjaxPost(url, Aux);
        });
    });
    $(function () {
        $('#SearchByIngredients').change(function () {
            var url = "/Recettes/SearchByIngredients/";
            var Aux = $('#SearchByIngredients').val();
            AjaxPost(url, Aux);
        });
    });



</script>

<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_recettes">
        <h1 class="page-title">Les recettes</h1>
        <section class="section">
            <h2 class="title">~ Trouver une recette ~</h2>
            <div class="panel">
                <div class="row imgback">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-12 col-sm-9 fp">
                        <div class="filters">
                            <form action="">
                                <div class="filter">
                                    <p><label for="">Nom de la recette</label></p>
                                    <p><input id="SearchByName" type="text" placeholder="ex: Tajine de poulet"></p>
                                </div>
                                <div class="filter">
                                    <p><label for="">Ingrédient(s) utlisé(s) pour la recette</label></p>
                                    <p><input id="SearchByIngredients" type="text" placeholder="ex: poulet;oeuf;farine"></p>
                                </div>
                                <div class="filter">
                                    <p><label for="">Valeur calorique de la recette <span class="fwn">(kcal/100g)</span></label></p>
                                    <p>
                                        <span class="span-label">entre :</span>
                                        <input type="number" class="mr0" placeholder="ex: 450">
                                        <span class="span-label">et</span>
                                        <input type="number" placeholder="ex: 750">
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sort">
                <p>
                    <span class="span-label">Trier par :</span>
                    <select name="" id="">
                        <option value="az">Ordre alphabétique (A->Z)</option>
                        <option value="za">Ordre alphabétique (Z->A)</option>
                        <option value="new">Les plus récentes d'abord</option>
                        <option value="old">Les plus anciennes d'abord</option>
                        <option value="best">Les mieux notées d'abord</option>
                        <option value="worst">Les moins bien notées d'abord</option>
                        <option value="cal">Du moins calorique au plus calorique</option>
                        <option value="cal_desc">Du plus calorique au moins calorique</option>
                    </select>
                </p>
            </div>

            @{
                if( ( SerchByName == null ) || ( SerchByName.Count() == 0 ) )
                {
                    <div class="result">
                        <div class="recettes row">
                            <p class="col-xs-12 blank">Aucune recette ne correspond à votre recherche</p>
                        </div>
                    </div>
                }
            }
        </section>

        <section class="section">
            @*<h2 class="title">~ Meilleures recettes ~</h2>*@
            <div class="recettes row">
                @{
                  
                    if( ( SerchByName != null ) && ( SerchByName.Count() > 0 ) )
                    {


                        foreach( var item in TempsList )
                        {

                        <div class="col-xs-6 col-sm-3 recette">
                            <a href="Details/@item.recettesId">
                                <img src="~/@item.picture" alt="Le tajine de ta maman">
                                <div class="top" title="note : 3,2/5">
                                    <span class="note">
                                        @{
                                            int somme = 0;
                                            int indice = 0;
                                            foreach( var item1 in item.Comments )
                                            {
                                                somme += item1.mark;
                                                indice++;
                                            }

                                            if( indice > 0 )
                                            {
                                                for( int i = 1 ; i <= somme / indice ; i++ )
                                                {
                                                    <span class="glyphicon glyphicon-heart"></span>
                                                }
                                            }
                                            else
                                            {

                                                for( int i = 1 ; i <= somme ; i++ )
                                                {
                                                    <span class="glyphicon glyphicon-heart"></span>
                                                }

                                            }
                                        }
                                        }
                                    </span>
                                </div>
                                <div class="bot">
                                    <p class="name">@item.recettesId</p>
                                </div>
                            </a>
                        </div>

                                                }
                                            }
                }
            </div>
        </section>
        <section class="section">
            <h2 class="title">~ Nouvelles recettes ~</h2>
            <div class="recettes row">
                @foreach( var item in model.Take( 4 ).Reverse() )

                {

                    <div class="col-xs-6 col-sm-3 recette">
                        <a href="Details/@item.recettesId">
                            <img src="~/@item.picture" alt="Le tajine de ta maman">
                            <div class="top" title="note : 3,2/5">
                                <span class="note">
                                    @{
                                        int somme = 0;
                                        int indice = 0;
                                        foreach( var item1 in item.Comments )
                                        {
                                            somme += item1.mark;
                                            indice++;
                                        }

                                        if( indice > 0 )
                                        {
                                            for( int i = 1 ; i <= somme / indice ; i++ )
                                            {
                                                <span class="glyphicon glyphicon-heart"></span>
                                            }
                                        }
                                        else
                                        {

                                            for( int i = 1 ; i <= somme ; i++ )
                                            {
                                                <span class="glyphicon glyphicon-heart"></span>
                                            }

                                        }

                                    }


                                </span>
                            </div>
                            <div class="bot">
                                <p class="name">@item.recettesId</p>
                            </div>
                        </a>
                    </div>


                                        }
            </div>
        </section>

    </div>
</div>